<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic component vue.js</title>
</head>
<body>
    <div id-"app" v-if="status == 'tampilan'">
        {{ message }} <br> <br>
        <label v-for="user in users">Name : {{user.name}}, Umur {{user.age}}<br></label>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            status: 'tampilkan',
            users:[
                {
                    name : 'Andre',
                    age : '20'
                },
                {
                    name : 'Geofredi',
                    age : '21'
                },
                {
                    name : 'Ovi',
                   age : '22'
                }
        ]
    }
})
</script>
